<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/loginPage.css" class="css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>


    <div class="container">
        <div class="img_sec">



            <div class="img_head">
                <h2 class="head_text"><span>✨</span>Trending AI Models</h2>
            </div>


            <div class="images">

                <div style="display: inline;">
                    <img class="img1" src="/images/img1.jpg" alt="ai">
                </div>

                <div style="display: inline;">
                    <img class="img2" src="/images/img2.jpg" alt="ai"><br>
                </div>

                <div style="display: inline;">
                <img class="img3" src="/images/img3.jpg" alt="ai">
                </div>

                <div style="display: inline;">
                <img class="img4" src="/images/img4.jpg" alt="ai">
                </div>




            </div>
        </div>




        <!-- above is img -->

        <div class="login_sec">

            <div class="login">

                <div class="head1">
                    <h2>Prompterest</h2>
                </div>

                <div class="head2">

                    <h3>Welcome Back</h3>

                </div>

                <div class="head3">
                    <span>Login to continue exploring AI prompts</span>

                </div>

                <div class="form">
                    <form>
                        <span style="color: rgb(214, 218, 218); display: flex; padding: 3px;">Username</span>

                        <input type="text" id=username placeholder="Enter Your Username">

                        <span style="color: rgb(214, 218, 218); display: flex; padding:3px">Password</span>

                        <input type="password">

                        <span
                            style="display: flex; justify-content: flex-end; color:#00f5ff; font-size: x-small; margin-bottom: 15px;">
                            Forget Password?</span>

                        <button class="lgn_button">Login</button>

                        <span class="text">
                            <pre>or  continue  with</pre>
                        </span>

                        <div class="button">
                            <button class="google_button">
                                <i class="fa-brands fa-google"></i>
                                Google</button>
                            <button class="github_button">
                                <i class="fa-brands fa-github"></i>
                                Github</button>
                        </div>

                        <pre><span class="text2">Don't have an account? <a class="anchor" href="/showsignup">Sign Up</a></span></pre>


                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</body>

</html>